# ember generated test files
tests/dummy/app/app.js
tests/dummy/app/resolver.js
tests/dummy/app/router.js
tests/helpers/destroy-app.js
tests/helpers/module-for-acceptance.js
tests/helpers/resolver.js
tests/helpers/start-app.js
tests/test-helper.js
