<section>
  <h3>Posts</h3>

  <ul>
    {{#each group.posts as |post|}}
      <li>Title: {{post.title}} | Author: {{post.author.name}} | Created On: {{post.createdOn}}</li>
    {{/each}}
  </ul>
</section>
