/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.test-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.test-table td,
.test-table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.test-table tr:nth-child(even) {
  background-color: #ddd;
}
