<h2 id="title">Ember Cloud Firestore Dummy App</h2>

{{#link-to "create-record"}}Create Record{{/link-to}}
{{#link-to "update-record" updateRecordParam}}Update Record{{/link-to}}
{{#link-to "delete-record"}}Delete Record{{/link-to}}
{{#link-to "find-all"}}Find All{{/link-to}}
{{#link-to "find-record"}}Find Record{{/link-to}}
{{#link-to "query"}}Query{{/link-to}}
{{#link-to "login"}}Login{{/link-to}}
{{#link-to "logout"}}Logout{{/link-to}}
{{#link-to "reset-data"}}Reset data{{/link-to}}

{{outlet}}
