<section>
  <h1>Groups</h1>

  {{#each this.model as |group|}}
    {{#if group.isLoaded}}
      <article>
        <h2>{{group.name}}</h2>
        <GroupPosts @group={{group}} />
        <GroupMembers @group={{group}} />
      </article>
    {{/if}}
  {{/each}}
</section>

{{outlet}}
